<!DOCTYPE html>
<title>Visualize HTTP2</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='javascripts/d3.js')}}"></script>

<div class="page">
  <div class="title_heading">
    <h1> Visualize HTTP/2 </h1>
  </div>
  <nav>
    <ul>
      <li>About</li>
      <li>Visualizer</li>
      <li>Other Info</li>
    </ul>
  </nav>
    {% block body %}
    {% endblock %}

</div>
  <script type="text/javascript" src="{{url_for('static', filename='javascripts/main.js')}}"></script>
</html>
